footer {
	border-top: 1px solid lightgray;
	padding-top: 5px;
}

.navbar-inverse {
	background-image: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.navbar .navbar-brand {
	text-shadow: none;
}

.page-contents {
	margin-top: 80px;
	margin-bottom: 20px;
}