footer {
	border-top: 1px solid lightgray;
	padding-top: 5px;
}

.navbar-inverse {
	background-image: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.navbar .navbar-brand {
	text-shadow: none;
}

.page-contents {
	margin-top: 80px;
	margin-bottom: 20px;
}

.anime-box {
	background-color: #FFFFFF;
	width: 300px;
	height: 400px;
	margin: 5px 5px 5px 5px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	display: inline-block;
	vertical-align: top;
}